/* PrimeLocations.module.css */

:global(*) {
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  
 
  .container {
    max-width: 1100px;
    margin: 40px auto;
    
  }
  
  .sectionTitle {
    text-align: center;
    
    font-size: 2rem;
    color: #1a237e;
    margin-bottom: 2rem;
    border-bottom: 2px solid #1a237e;
    
    padding-bottom: 0.5rem;
  }
  
  .amenitiesGrid {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
   
  }
  
  .amenityCard {
    position: relative;
   
   
   
  }
  
  .amenityImage {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   width: 250px;
    object-fit: cover;
  }
  
  .amenityTitle {
    text-align: center;
    padding: 1rem;
    
    font-size: 1.2rem;
    color: #333;
  }
  
  .locationsGrid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  
  .locationCard {
    background-color: #1a237e;
    border-radius: 12px;
    overflow: hidden;
    color: white;
    position: relative;
  }
  
  .locationImage {
    width: 100%;
    height: 150px;
    object-fit:fill;
  }
  
  .locationInfo {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .locationIcon {
    font-size: 2rem;
  }
  
  .locationName {
    font-size: 2rem;
    font-weight: 600;
  }

  .primeloccontent{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: start;
  }
  
  @media (max-width: 768px) {
    .amenitiesGrid,
    .locationsGrid {
      grid-template-columns: 1fr;
    }
  
    .sectionTitle {
      font-size: 1.5rem;
    }
  
    .locationName {
      font-size: 1.5rem;
    }
  }
  